<form
  [formGroup]="formData"
  class="form"
  (ngSubmit)="openGame()"
  [ngClass]="selectedColorPalette"
>
  <div class="form-control">
    <div class="form-control-name">
      <label
        class="form-control-name-label"
        [ngClass]="selectedColorPalette"
        for="name"
        >PLAYER NAME:
      </label>
      <div
        class="form-control-name-alert"
        [ngClass]="selectedColorPalette"
        *ngIf="
          (formData.get('name')?.errors?.['required'] &&
            formData.get('name')?.touched) ||
          (formData.invalid && formData.get('name')?.touched)
        "
      >
        ENTER YOUR PLAYER NAME&nbsp;
      </div>
      <div
        class="form-control-name-alert"
        [ngClass]="selectedColorPalette"
        *ngIf="formData.get('name')?.errors?.['pattern']"
      >
        NO SPECIAL CHARACTERS
      </div>
    </div>
    <div class="form-control-input">
      <input
        type="text"
        formControlName="name"
        id="name"
        class="form-control-input-name"
        [ngClass]="selectedColorPalette"
      />
    </div>

    <div class="form-control-info" [ngClass]="selectedColorPalette">
      <div class="form-control-info-i" [ngClass]="selectedColorPalette">
        (letters and numbers only, no punctuation or special characters)
      </div>
    </div>
    <div class="form-control-token" [ngClass]="selectedColorPalette">
      <label
        class="form-control-token-label"
        [ngClass]="selectedColorPalette"
        for="token"
        >TOKEN:
      </label>
      <div
        class="form-control-token-alert"
        [ngClass]="selectedColorPalette"
        *ngIf="
        (formData.get('token')?.errors?.['required'] &&
        formData.get('token')?.touched) ||
        (formData.invalid && formData.get('token')?.touched)
        "
      >
        ENTER YOUR TOKEN
      </div>
    </div>
    <div class="form-control-input2" [ngClass]="selectedColorPalette">
      <input
        type="number"
        formControlName="token"
        id="token"
        class="form-control-input2-token"
        [ngClass]="selectedColorPalette"
      />
    </div>
    <div class="form-control-btn">
      <button
        class="form-control-btn-go"
        [ngClass]="selectedColorPalette"
        [disabled]="formData.invalid"
        (click)="openGame()"
      >
        GO !!!
      </button>
    </div>
  </div>
  <div class="form-control-img">
    <img
      src="../assets/snake.png.png"
      alt="snake"
      class="form-control-img-snake"
    />
  </div>
</form>
