<form
  #form="ngForm"
  class="form"
  (ngSubmit)="openGame(form)"
  [ngClass]="selectedColorPalette"
>
  <div class="form-control">
    <div class="form-control-name">
      <label
        class="form-control-name-label"
        [ngClass]="selectedColorPalette"
        for="name"
        >PLAYER NAME:
      </label>
      <div
        class="form-control-name-alert"
        [ngClass]="selectedColorPalette"
        *ngIf="nameField.errors?.['required'] && nameField.touched|| form.submitted && nameField.invalid"
      >
        ENTER YOUR PLAYER NAME
      </div>
      <div
        class="form-control-name-alert"
        [ngClass]="selectedColorPalette"
        *ngIf="nameField.errors?.['pattern']"
      >
        NO SPECIAL CHARACTERS
      </div>
    </div>
    <div class="form-control-input">
      <input
        type="text"
        name="name"
        pattern="[a-zA-Z ]*"
        [(ngModel)]="formData.name"
        required
        #nameField="ngModel"
        id="name"
        class="form-control-input-name"
        [ngClass]="selectedColorPalette"
      />
    </div>

    <div class="form-control-info" [ngClass]="selectedColorPalette">
      <div class="form-control-info-i" [ngClass]="selectedColorPalette">
        (letters and numbers only, no punctuacion or special characters)
      </div>
    </div>
    <div class="form-control-token" [ngClass]="selectedColorPalette">
      <label
        class="form-control-token-label"
        [ngClass]="selectedColorPalette"
        for="token"
        >TOKEN:
      </label>
      <div
        class="form-control-token-alert"
        [ngClass]="selectedColorPalette"
        *ngIf="tokenField.errors?.['required'] && tokenField.touched || form.submitted && tokenField.invalid  "
      >
        ENTER YOUR TOKEN
      </div>
    </div>
    <div class="form-control-input2" [ngClass]="selectedColorPalette">
      <input
        type="number"
        name="token"
        #tokenField="ngModel"
        [(ngModel)]="formData.token"
        required
        id="token"
        class="form-control-input2-token"
        [ngClass]="selectedColorPalette"
      />
    </div>
    <div class="form-control-btn">
      <button
        class="form-control-btn-go"
        [ngClass]="selectedColorPalette"
        [disabled]="!formData.name || !formData.token"
        (click)="openGame(form)"
      >
        GO !!!
      </button>
    </div>
  </div>
  <div class="form-control-img">
    <img
      src="../assets/snake.png.png"
      alt="snake"
      class="form-control-img-snake"
    />
  </div>
</form>
