<div class="snake">
  <div class="snake-info">
    <h1 class="snake-info-name">Good luck {{ name }}</h1>
    <div class="snake-info-timer">Time {{ seconds }}</div>
    <div class="snake-info-status">Status {{ status }}</div>
    <div class="snake-info-points">Points {{ snakePoints }}</div>
  </div>
  <div class="snake-game">
    <ngx-snake
      #game
      [boardHeight]="12"
      [boardWidth]="12"
      (gameOver)="gameOver()"
      (foodEaten)="coutingPoints()"
    ></ngx-snake>
    <div>
      <h2>Highscores:</h2>
      <select [(ngModel)]="sorting" (ngModelChange)="sortPoints()">
        <option value="ASC">Ascending order</option>
        <option value="DESC">Descending order</option>
      </select>
      <tr *ngFor="let item of info">
        <td>{{ item.name }}</td>
        <td>{{ item.score }}</td>
      </tr>
    </div>
  </div>
  <div class="buttons">
    <div class="buttons-start">
      <button
        class="buttons-start-1"
        [ngClass]="selectedColorPalette"
        (click)="game.actionStart()"
        (click)="startTimer()"
      >
        START
      </button>
      <button
        class="buttons-start-1"
        [ngClass]="selectedColorPalette"
        (click)="game.actionStop()"
        (click)="stopTimer()"
      >
        STOP
      </button>
    </div>
    <div class="buttons-up">
      <div class="buttons-up-first">
        <button
          class="buttons-up-first-up"
          [ngClass]="selectedColorPalette"
          (click)="game.actionUp()"
        >
          Up
        </button>
      </div>
      <div class="buttons-up-sides">
        <button
          class="buttons-up-sides-all"
          [ngClass]="selectedColorPalette"
          (click)="game.actionLeft()"
        >
          Left
        </button>
        <button
          class="buttons-up-sides-all"
          [ngClass]="selectedColorPalette"
          (click)="game.actionRight()"
        >
          Right
        </button>
      </div>
      <div class="buttons-up-second">
        <button
          class="buttons-up-second-down"
          [ngClass]="selectedColorPalette"
          (click)="game.actionDown()"
        >
          Down
        </button>
      </div>
    </div>
  </div>
  <div class="buttons-exit">
    <button
      class="buttons-exit-reset"
      [ngClass]="selectedColorPalette"
      (click)="game.actionReset()"
      (click)="resetTimer()"
    >
      RESET
    </button>
    <button
      class="buttons-exit-exit"
      [ngClass]="selectedColorPalette"
      (click)="returnLogin()"
    >
      EXIT
    </button>
  </div>
</div>
