@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

* {
  box-sizing: border-box;
  background-color: #7b9c01;
}
.container {
  font-family: "Patrick Hand SC", cursive;
}
